html, body {
  font-family: 'Coolvetica'; /*, sans-serif; */
  font-weight: 400;
}

:root {
  --color-primary: #2647D7;
}

::selection {
  background: var(--color-primary, #fff);
  color: #000;
}

nav a {
  font-weight: 300;
}

nav a.router-link-active {
  font-weight: 400;
}
