@font-face {
  font-family: 'Coolvetica';
  src: url('@/assets/fonts/coolvetica/coolvetica-heavy.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('@/assets/fonts/coolvetica/coolvetica-book.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('@/assets/fonts/coolvetica/coolvetica-regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Coolvetica';
  src: url('@/assets/fonts/coolvetica/coolvetica-light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Coolvetica';
  src: url('@/assets/fonts/coolvetica/coolvetica-extralight.otf') format('truetype');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'Coolvetica';
  src: url('@/assets/fonts/coolvetica/coolvetica-ultralight.otf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

